@font-face {
  font-family: 'DungGeunMo';
  src: url('DungGeunMo.woff');
}

body{
  font-family: 'DungGeunMo';
  margin: 0;
  background-color: #000000;
}

#container {
  margin: 10px;
  color: #ffffff;
}